<!-- <div class="mx-auto pt-4" style="width: 200px;"> -->
<div class="text-center text-white bg-dark footer " style="margin: 0px 0px -15px 0px;">
    <footer>
        <hr>
        <p>&copy;2020 Max_keviv</p>
        <p>@developer</p>
    </footer>
</div>
</body>

</html>