<%- include("top") -%>
<div class="container text-center col">
    <form action="/task1/PartA" method="GET">

        <div  class="pt-5 mt-5 col p-4"><button href="/task1/PartA" type="submit" class="btn btn-outline-dark btn-lg"> Task 1 </button>
        </div></form>
        <form action="/PartB" method="GET">
            <div class="col p-4">
        <button href="/task2/PartA" type="submit" class="btn btn-outline-warning btn-lg"> Task 2 </button></div>
</form>
</div>
<%- include("end") -%>